<div class="containter center" style="width:600px;margin-left:10%" >


<div class="row text-center">

<img src="DALogo.png" width="150px"> <h1>Digital Adventure Points</h1>
</div>


<!-- Student1-->
<div class="row">
<ul style="list-style-type:none">
<li> <h3><%=@Students[0] %> <span style="color:#00E400">Level <%= @Level[0] %></span> </h3>

<div class="progress">
  <div class="progress-bar progress-bar-success " role="progressbar" style="width:<%=@Exp[0]%>%" >
  </div>
  <div class="progress-bar progress-bar-warning progress-bar-striped active" role="progressbar" style="width:<%=@Stars[0]*10 %>%">
  </div>
</div>
</li>
<img src="<%=@Star1[0]%>" width=50px> <img src="<%=@Star2[0]%>"width=50px> <img src="<%=@Star3[0]%>"width=50px>
</ul>
</div>

<!-- Student2-->
<div class="row">
<ul style="list-style-type:none">
<li> <h3><%=@Students[1] %> <span style="color:#00E400">Level <%= @Level[1] %></span></h3>

<div class="progress">
  <div class="progress-bar progress-bar-success " role="progressbar" style="width:<%=@Exp[1]%>%" >
  </div>
  <div class="progress-bar progress-bar-warning progress-bar-striped active" role="progressbar" style="width:<%=@Stars[1]*10 %>%">
  </div>
</div>
</li>
<img src="<%=@Star1[1]%>"width=50px> <img src="<%=@Star2[1]%>"width=50px> <img src="<%=@Star3[1]%>"width=50px>
</ul>
</div>

<!-- Student3-->
<div class="row">
<ul style="list-style-type:none">
<li> <h3><%=@Students[2] %> <span style="color:#00E400">Level <%= @Level[2] %></span></h3>

<div class="progress">
  <div class="progress-bar progress-bar-success " role="progressbar" style="width:<%=@Exp[2]%>%" >
  </div>
  <div class="progress-bar progress-bar-warning progress-bar-striped active" role="progressbar" style="width:<%=@Stars[2]*10 %>%">
  </div>
</div>
</li>
<img src="<%=@Star1[2]%>"width=50px> <img src="<%=@Star2[2]%>"width=50px> <img src="<%=@Star3[2]%>"width=50px>
</ul>
</div>


<!-- Student4-->
<div class="row">
<ul style="list-style-type:none">
<li> <h3><%=@Students[3] %><span style="color:#00E400">Level <%= @Level[3] %></span></h3>
<div class="progress">
  <div class="progress-bar progress-bar-success " role="progressbar" style="width:<%=@Exp[3]%>%" >
  </div>
  <div class="progress-bar progress-bar-warning progress-bar-striped active" role="progressbar" style="width:<%=@Stars[3]*10 %>%">
  </div>
</div>
</li>
<img src="<%=@Star1[3]%>"width=50px> <img src="<%=@Star2[3]%>"width=50px> <img src="<%=@Star3[3]%>"width=50px>
</ul>
</div>



<!-- Student5-->
<div class="row">
<ul style="list-style-type:none">
<li> <h3><%=@Students[4] %><span style="color:#00E400">Level <%= @Level[4] %></span></h3>
<div class="progress">
  <div class="progress-bar progress-bar-success " role="progressbar" style="width:<%=@Exp[4]%>%" >
  </div>
  <div class="progress-bar progress-bar-warning progress-bar-striped active" role="progressbar" style="width:<%=@Stars[4]*10 %>%">
  </div>
</div>
</li>
<img src="<%=@Star1[4]%>"width=50px> <img src="<%=@Star2[4]%>"width=50px> <img src="<%=@Star3[4]%>"width=50px>
</ul>
</div>

<!-- Student6-->
<div class="row">
<ul style="list-style-type:none">
<li> <h3><%=@Students[5] %><span style="color:#00E400">Level <%= @Level[5] %></span></h3>
<div class="progress">
  <div class="progress-bar progress-bar-success " role="progressbar" style="width:<%=@Exp[5]%>%" >
  </div>
  <div class="progress-bar progress-bar-warning progress-bar-striped active" role="progressbar" style="width:<%=@Stars[5]*10 %>%">
  </div>
</div>
</li>
<img src="<%=@Star1[5]%>"width=50px> <img src="<%=@Star2[5]%>"width=50px> <img src="<%=@Star3[5]%>"width=50px>
</ul>
</div>



</div>
